.idea/
.vscode/
__pycache__/
.tox/
.coverage
.coverage.*
htmlcov/
docs/_build/
dist/
venv/
.env
static/original_image/
static/filter_image/
photo-booth.zip
filter/face_acne
filter/.DS_Store
filter/pretrained_model
filter/brighten/pretrained_model/
ml/pretrained_model/
filter/brighten/temp_testset/ 
filter/brighten/temp_results/
filter/
results/
ml/temp_results/
ml/temp_testset/