{% extends 'layout.html' %}
{% block title %} Home {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slick-loader.min.css') }}" />
{% endblock %}

{% block content %}
    <div class="container mx-auto mt-4">
    <div class="flex mb-4">
      <div class="w-1/2 h-12">
          <form class="max-w-sm mx-auto" action="{{ url_for('filter_apply') }}" method="post", enctype="multipart/form-data">
            <div class="flex items-center justify-center w-full">
                <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                    <div class="flex flex-col items-center justify-center pt-5 pb-6">
                        <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                        </svg>
                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                        <p class="text-xs text-gray-500 dark:text-gray-400">JPG, PNG, JPEG</p>
                    </div>
                    <input id="dropzone-file" type="file" class="hidden" name="image" accept="image/*"/>
                </label>
            </div>
            <div class="flex items-center justify-center w-full mt-5">
                <select id="filter_name" name="filter_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option selected>Choose a Filter</option>
                    <option value="beauty_3">Beauty - Latest (Third)</option>
                    <option value="beauty_2">Beauty - Second</option>
                    <option value="beauty_1">Beauty - First</option>
                    <option value="brighten_4">Brighten - Latest (Fourth)</option>
                    <option value="brighten_3">Brighten - Third</option>
                    <option value="brighten_2">Brighten - Second</option>
                    <option value="brighten_1">Brighten - First</option>
                    <!-- <option value="background_remove">Background Remove</option>
                    <option value="pencil_sketch">Pencil Sketch</option>
                    <option value="cartoon">Cartoon</option> -->
                </select>
            </div>
            <div class="flex items-center justify-center w-20 mt-5">
                <button type="submit" onclick="start_loading()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
            </div>
        </form>
      </div>
      <div class="w-1/2 h-12">
          <div class="container mx-auto mt-4" style="max-width: 400px">
            <div id="image-container"></div>
         </div>
      </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/slick-loader.min.js') }}"></script>
    <script>
        const input = document.getElementById('dropzone-file');
        const container = document.getElementById('image-container');

        input.addEventListener('change', (event) => {
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.onload = (loadEvent) => {
                const img = new Image();
                img.src = loadEvent.target.result;
                container.innerHTML = '';
                container.appendChild(img);
            };

            reader.readAsDataURL(file);
        });

        function start_loading() {
            SlickLoader.setText("Image Filter", "Applying");
            SlickLoader.enable();
        }
    </script>
{% endblock %}