<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Photo Booth</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/android-chrome-192x192.png') }}" sizes="192x192" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon-32x32.png') }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon-16x16.png') }}" sizes="16x16" />
    {% block css %}{% endblock %}
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
{% include 'navbar.html' %}
{% block content %}{% endblock %}
</body>
<script src="https://cdn.tailwindcss.com"></script>
{% block scripts %}{% endblock %}
</html>