<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex flex-shrink-0 items-center text-white">
                    <a class="inline-flex items-end" href="{{ url_for('home') }}">
                        <img class="h-8 w-auto" src="{{ url_for('static', filename='images/camera.png') }}"
                             alt="Photo Booth">
                        <span class="ml-2">Photo Booth</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>